body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.animation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.8);
    animation: expandAnimation 3s forwards;
}

.background {
    position: relative;
    height: 100%;
    background-image: url('https://cdn.discordapp.com/attachments/1104493356781940766/1139636421443985478/image.png');
    filter: blur(0px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

nav a {
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    display: inline-block;
}

h1 {
    color: white;
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@keyframes expandAnimation {
    0% {
        width: 0;
        height: 0;
    }
    100% {
        width: 200vw;
        height: 200vw;
        opacity: 0;
    }
}