header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

h1, h2, h3 {
    margin: 0;
}

.menu-btn {
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.menu-btn div {
    width: 100%;
    height: 4px;
    background-color: #333;
}

.modal {
    position: fixed;
    top: 0;
    right: -400px; /* 初期状態で見えないように */
    width: 400px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: right 0.3s ease-in-out;
}

.modal ul {
    list-style-type: none;
    padding: 0;
}

.modal li {
    padding: 20px;
    font-size: 1.5em;
    color: #fff;
}